/* styles.css */

/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: inherit;
  }
  
  /* Main Container */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .filter-box {
    width: 700px;
    height: 500px;
    background-color: white;
    color: black;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  /* Left Column */
  .left-column {
    width: 200px;
    padding: 30px;
    background-color: #e0e0e0;
  }
  
  .left-column .flex {
    display: flex;
    flex-direction: column;
  }
  
  .left-column .flex .flex-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .left-column .flex-item button {
    margin-left: 8px;
    padding: 4px 8px;
    border-radius: 4px;
    transition: all 0.3s;
  }
  
  .left-column .flex-item button:hover {
    background-color: #d1d1d1;
    border: 1px solid #6c6c6c;
  }
  
  /* Right Column */
  .right-column {
    width: calc(100% - 200px);
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  
  .right-column .filter-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .right-column .filter-item input[type="checkbox"] {
    margin-right: 8px;
  }
  
  .right-column .filter-item p {
    color: red;
  }
  
  /* Filter Button */
  .filter-button {
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 110px;
    background-color: black;
    color: white;
    border-radius: 8px;
    transition: all 0.3s;
  }
  
  .filter-button button {
    font-weight: bold;
  }
  
  .filter-button button:hover {
    background-color: #404040;
  }
  